body
{
    /* transition */
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    min-height: 1000px;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
}

h2
{
    font-size: 31.5px;
}

h1, h2, h3
{
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6
{
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

label
{
    display: block;
    margin-bottom: 5px;
}

label, input, button, select, textarea
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

input, textarea, .uneditable-input
{
    margin-left: 0;
}

input, button, select, textarea
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

input[type="password"]
{
    float: left;
}

#testSpan1
{
    float: left;
    cursor: pointer;
    border: 1px solid #cccccc;
    line-height: 27px;
    padding: 0 10px;
    min-height: 27px;
    min-width: 20px;
}

#span1 span.buttons
{
    clear: both;
    display: block;
    margin: 40px 5px 0;
}

.colorBox,
.deter-container > span.deter-fingerprint
{
    display: block;
    float: left;
    border: 1px solid #cccccc;
    width: 27px;
    height: 27px;
    margin-left: 10px;
    /* transition */
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.deter-fingerprint
{
    float: left;
}

p, h2
{
    clear: both;
}

h2
{
    padding-top: 20px;
    color: #919191;
}

label
{
    padding: 20px 0 5px;
    font-weight: bold;
}

#testPassword6
{
    padding-right: 45px;
    width: 250px;
    height: 30px;
    font-size: 22px;
}

#password6
{
    float: left;
    position: relative;
}

#password6 .deter-fingerprint
{
    position: absolute;
    right: 1px;
    bottom: 10px;
    height: 100%;
    width: 30px;
    height: 40px;
    width: 40px;
    border: 0;
    cursor: text;
}

#password6 .deter-container.focused .deter-fingerprint
{
    cursor: default;
}

#password6 .deter-fingerprint canvas
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

#password6 .deter-container.focused .deter-fingerprint canvas
{
    box-shadow: -5px 0px 20px -5px #aaaaaa;
}